.global-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    width: 3rem;
    height: 3rem;
  }
}

.global-button svg {
  width: 2rem;
  height: 2rem;

  @media (min-width: 768px) {
    width: 3rem;
    height: 3rem;
  }
}

.global-button svg > path {
  fill: var(--primary);
  transition: var(--transition);
}

.global-button:hover svg > path {
  fill: var(--secondary);
}
