.experience {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.experience--active {
  background-color: var(--primary-transparent);
}

.experience-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience-company {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.experience-open_icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-open_icon svg path {
  fill: var(--primary);
}
