.button-custom {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.button-custom:hover {
  background-color: var(--hover);
}

.button-custom svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.button-custom svg > path {
  stroke: var(--primary);
}

.button-custom:hover svg > path {
  stroke: var(--primary-hover);
}
