.buy_me_a_coffee-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  transition: var(--transition);
  width: 100%;

  @media (min-width: 768px) {
    gap: 0.25rem;
  }
}

.buy_me_a_coffee-wrapper h4 {
  display: none;

  @media (min-width: 480px) {
    display: block;
  }
}

.buy_me_a_coffee-wrapper:hover {
  color: var(--secondary);
}

.buy_me_a_coffee-wrapper:hover svg path {
  fill: var(--secondary);
}

.buy_me_a_coffee-wrapper svg {
  width: 2rem;
  height: 2rem;

  @media (min-width: 768px) {
    width: 3rem;
    height: 3rem;
  }
}

.buy_me_a_coffee-wrapper svg path {
  fill: var(--primary);
  transition: var(--transition);
}
