.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--home);
}

.header--transparent {
  background-color: transparent;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  padding: 1rem 2rem;

  @media (min-width: 768px) {
    padding: 1.5rem 10rem;
  }
}

.header-side_left {
  display: flex;
  align-items: center;
}

.header-side_left svg {
  width: 2rem;
  height: 2rem;

  @media (min-width: 768px) {
    width: 3rem;
    height: 3rem;
  }
}

.header-side_left svg path {
  fill: var(--primary);
  transition: var(--transition);
}

.header-side_left svg:hover path {
  fill: var(--secondary);
}

.header-side_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  gap: 0.5rem;

  @media (min-width: 768px) {
    gap: 1rem;
  }
}
