:root {
  --background: #fffefe;
  --hover: #f2e6e6;
  --primary: #2a0a0a;
  --primary-hover: #5c1414;
  --secondary: #374151;
  --secondary-hover: #111827;
  --tertiary: #9ca3af;
  --tertiary-hover: #4b5563;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #100000;
    --hover: #2a0505;
    --primary: #ffe5e5;
    --primary-hover: #ffc4c4;
    --secondary: #d1d5db;
    --secondary-hover: #ffffff;
    --tertiary: #6b7280;
    --tertiary-hover: #9ca3af;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: "Space Mono", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
