:root {
  --primary: #660000;
  --secondary: #910000;
  --tertiary: #e88d8d;
  --background: #fff4f4;
  --home: #ebd5d2;
  --primary-transparent: #6600001a;

  --shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.25);

  --transition: all 0.3s ease-in-out;
}

[data-theme="dark"] {
  --primary: #fefefe;
  --secondary: #ebd5d2;
  --tertiary: #804646;
  --background: #120000;
  --home: #400000;
  --primary-transparent: #fefefe1a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--background);
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  transition: all 0.2s ease-in-out;
  font-display: swap;
}

a {
  color: var(--primary);
  text-decoration: none;
}
