.project {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
}

.project:hover {
  transform: scale(1.0125);
  transition: var(--transition);
}

.project img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--home);
  height: 12rem;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.25rem 0.5rem;
}

.project-content p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content ul {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.project-content ul li svg {
  width: 2rem;
  height: 2rem;
}

.project-content ul li svg path {
  fill: var(--primary);
  transition: var(--transition);
}

.project-content ul li:hover svg path {
  fill: var(--secondary);
}
